.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px 60px 50px 50px;
    background-color: rgb(255, 255, 255);
    border-left: 2px solid rgb(172, 172, 172);
    border-top: 2px solid rgb(172, 172, 172);
    border-bottom: 2px solid rgb(172, 172, 172);
    border-radius: 5px 0 0 5px;
}

.container h1 {
    margin-bottom: 20px;
    color: rgb(78, 78, 78);
}

.container form {
    display: flex;
    flex-direction: column;
    width: 355px;
}

.container label {
    margin-bottom: 3px;
    color: rgb(80, 80, 80);
}

.container input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid lightgray;
}

.container input:focus {
    outline: none;
    border: 2px solid lightblue;
}

.container span {
    margin-top: -18px;
    margin-bottom: 15px;
    font-size: 10px;
    color: rgb(173, 173, 173);
}

.container button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: rgb(80, 80, 80);
}

.container button:hover {
    cursor: pointer;
    background-color: lightblue;
}


.response {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 81px 40px;
    background-color: rgb(240, 240, 240);
    border-right: 2px solid rgb(172, 172, 172);
    border-top: 2px solid rgb(172, 172, 172);
    border-bottom: 2px solid rgb(172, 172, 172);
    border-radius: 0 5px 5px 0;
}

.response h2 {
    color: rgb(11, 82, 175);
    font-style: italic;
    margin-bottom: 6px;
}

.response div {
    height: 1px;
    width: 250px;
    background-color: rgb(11, 82, 175);
    margin-bottom: 43px;
}

.response p {
    font-size: 20px;
    color: rgb(54, 134, 226);
    margin-bottom: 30px;
}

.response span {
    font-weight: bold;
}